.header {
    background-color: #D23B68;
    text-align: center;
    padding: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #5AB669;
}

.topnav a.regular {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.image {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10.8px 14px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #3A7544;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {   
    float: left;
    width: 75%;
    margin-top: 20px;
}
  
.rightcolumn {
    float: right;
    width: 25%;
    margin-top: 20px;
}

.footer {
    background-color: #3A7544;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.contentleft {
    background-color: #3A7544;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.contentright {
    background-color: #3A7544;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.content {
    background-color: #3A7544;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

body {
    font-size: 95%;
    font-family: 'Verdana';
    padding: 10px;
    background-color:#3A7544;
    color: white;
}

a {
    font-family: Arial;
    color: white;
}

a:hover {
    color: #df8ba4;
}

h1 {
    font-family: 'lucida handwriting';
}

h2 {
    font-family: 'lucida handwriting';
}

h3 {
    font-size:120%;
    font-family: 'Trebuchet MS';
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}