.header {
    background-color: #D23B68;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #5AB669;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.topnav a.regular {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.image {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10.8px 14px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #3A7544;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {   
    float: left;
    width: 75%;
    margin-top: 20px;
}
  
.rightcolumn {
    float: right;
    width: 25%;
    margin-top: 20px;
}

.footer {
    background-color: #3A7544;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.footerspinner {
    background-color: #3A7544;
    text-align: center;
    padding: 5px;
    margin-top: 200px;
}

.contentleft {
    background-color: #3A7544;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.contentright {
    background-color: #3A7544;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.content {
    background-color: #3A7544;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

body {
    font-size: 95%;
    font-family: 'Verdana';
    padding: 10px;
    background-color:#3A7544;
    color: white;
    
    background-image: url('w3css.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #D23B68;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #ffffff;
}

button:hover {background-color: #982447}

button:active {
  background-color: #982447;
  box-shadow: 0 2px #8f8f8f;
  transform: translateY(4px);
}

.rounded {
    border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

a {
    font-family: Arial;
    color: white;
}

a:hover {
    color: #df8ba4;
}

h1 {
    font-family: 'lucida handwriting';
}

h2 {
    font-family: 'lucida handwriting';
}

h2:after {
    content:' ';
    display:block;
    border:2px solid #5AB669;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

h3 {
    font-size:120%;
    font-family: 'Trebuchet MS';
    font-style: italic;
}

img {
    border-radius: 10px;
}

img:hover {
    opacity: 85%;
}

.centertext {
    text-align: center;
}

img.navimg {
    opacity: 100%;
    border-radius: 0px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
}

.transform-active {
    height: 200px;
    width: 200px;
}

.spin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    animation-name: cssAnimation;
    animation-duration:3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes cssAnimation {
    from {
        -webkit-transform: rotate(0deg) scale(1) skew(0deg) translateX(0px) translateY(0px);
    }
    to {
        -webkit-transform: rotate(360deg) scale(1) skew(0deg) translateX(0px) translateY(0px);
    }
}

.fade-in-text {
    text-align: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}  

.fade-out-text {
    text-align: center;
    animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
    -moz-animation: fadeout 1s;
    -o-animation: fadeout 1s;
    -ms-animation: fadeout 1s;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}  